In [ ]:
# A lambda function is a small anonymous function.
# A lambda function can take any number of arguments, but can only have one expression.
###
# Source: https://www.w3schools.com/python/python_lambda.asp

# Python supports simple anonymous functions through the lambda form.
# The executable body of the lambda must be an expression and (censored). 
# The value returned by the lambda is the value of the contained expression. 
# Lambda forms can be used anywhere ordinary functions can.
###
# Source: https://en.wikipedia.org/wiki/Anonymous_function#Python

# Form
# f = lambda x: expression(x)

In [1]:
# Regular Function
# Same ole, Same old
def double_f(x):
    return x * 2

In [2]:
double_f(2)

4

In [15]:
# Function with lambda
# What happens?
def double(n = 2):
    return lambda x: x * n

In [16]:
dd = double(3)

In [17]:
dd(6)

18

In [ ]:
### Create a lambda that add 2 to number ((x=2)+2 = 4)

In [18]:
f = lambda x: x + 2

In [19]:
f(20)

22

In [20]:
# Yoda translator
# Another simple function

def yoda_f(x, z, y):
    print(f'{x} {y} {z}.')

In [21]:
yoda_f('I', 'python', 'like')

I like python.

In [22]:
yoda = lambda x, z, y: print(f'{x} {y} {z}')

In [23]:
yoda("I", "python","like")

I like python

In [ ]:
### Create a lamda that uses more than 1 variable (Can be addition)

In [26]:
sum_o = lambda x, y: x * y

In [27]:
sum_o(2, 3)

6

In [29]:
# A simple list of strings
# Just a part of a song you may have heard of

j5_1 = [3, 2, 1, 'as', 'easy', 'c', 'b', 'a']

In [30]:
j5_1[::-1]

['a', 'b', 'c', 'easy', 'as', 1, 2, 3]

In [31]:
lyric = lambda x: x[::-1]

In [32]:
lyric(j5_1)

['a', 'b', 'c', 'easy', 'as', 1, 2, 3]

In [33]:
# Another simple list of strings
j5_2 = ['Mi', 'Re', 'Do', 'as', 'simple', 'Ah']

In [34]:
# Another simple list of strings
j5_3 = ['girl', 'me', 'and', 'you', 'three', 'two', 'one', 'c', 'b', 'a']

In [35]:
j5 = [j5_1, j5_2, j5_3]

In [36]:
def song(x):
    verse = lambda y: print(y[::-1])
    for y in x:
        verse(y)

In [37]:
song(j5)

['a', 'b', 'c', 'easy', 'as', 1, 2, 3]
['Ah', 'simple', 'as', 'Do', 'Re', 'Mi']
['a', 'b', 'c', 'one', 'two', 'three', 'you', 'and', 'me', 'girl']

In [38]:
# A list of tuples
# (Set Name, # of Pieces)
# Dumb data

my_sets = [('75192: Millennium Falcon', 7541), ('71043: Hogwarts Castle', 6020), ('10256: Taj Mahal', 5923), 
           ('75978: Diagon Alley', 5544), ('70620: NINJAGO City', 4867), ('75827: Firehouse Headquarters', 4634), 
           ('10214: Tower Bridge', 4287), ('10253: Big Ben', 4163), ('10261: Roller Coaster', 4124), 
           ('71040: Disney Castle', 4080), ('42082: Rough Terrain Crane', 4057), ('10255: Assembly Square', 4002)]

In [39]:
# Function that filters data based number of pieces
# 4 lines of code

def more(x, y = my_sets):
    for lset in my_sets:
        l = lambda a, b: a[1] >= b
        if l(lset,x):
            print(lset)

In [41]:
more(300)

('75192: Millennium Falcon', 7541)
('71043: Hogwarts Castle', 6020)
('10256: Taj Mahal', 5923)
('75978: Diagon Alley', 5544)
('70620: NINJAGO City', 4867)
('75827: Firehouse Headquarters', 4634)
('10214: Tower Bridge', 4287)
('10253: Big Ben', 4163)
('10261: Roller Coaster', 4124)
('71040: Disney Castle', 4080)
('42082: Rough Terrain Crane', 4057)
('10255: Assembly Square', 4002)

In [42]:
# Function that filters data based number of pieces?
# 3 lines
# Is this better?

def more_than(x, y = my_sets):
    for lset in y:
        if lset[1] >= x:
            print(lset)

In [44]:
more_than(300, my_sets)

('75192: Millennium Falcon', 7541)
('71043: Hogwarts Castle', 6020)
('10256: Taj Mahal', 5923)
('75978: Diagon Alley', 5544)
('70620: NINJAGO City', 4867)
('75827: Firehouse Headquarters', 4634)
('10214: Tower Bridge', 4287)
('10253: Big Ben', 4163)
('10261: Roller Coaster', 4124)
('71040: Disney Castle', 4080)
('42082: Rough Terrain Crane', 4057)
('10255: Assembly Square', 4002)

In [ ]:
# Python supports simple anonymous functions through the lambda form.
# The executable body of the lambda must be an expression and 
# can't be a statement, which is a restriction that limits its utility. 
# The value returned by the lambda is the value of the contained expression. 
# Lambda forms can be used anywhere ordinary functions can. 
# However these restrictions make it a very limited version of a normal function.
###
# Source: https://en.wikipedia.org/wiki/Anonymous_function#Python